<%- include ../common/header %>
<section>
  <div class="blog_wrapper blog_wrap_indeximg">
    <div class="clearfix container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <h1 class="header_title"><%= title %></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<article>
<div class="container">
	<div class="row">
		<div >
			<form class="blog_mt10" method="POST" action="/api/post" >
				<% if (article._id) { %>
				<input type="hidden" name="article[_id]" value=<%= article._id %> />
				<% } %>
				<div class="form-group">
					<label for="posttitle">标题</label>
					<input class="form-control" id="posttitle" rows="10" type="text" name="article[title]" value=<%= article.title %> >
				</div>
				<div class="form-group">
					<label for="posttag">标签</label>
					<% if(article.tag) { %>
					<input class="form-control" id="posttag" rows="4" type="text" name="article[tag]" value=<%= article.tag.name %> >
					<% } else { %>
					<input class="form-control" id="posttag" rows="4" type="text" name="article[tag]"  >
					<% } %>
				</div>
				<div class="form-group" >
					<label  for="posttext">文本(支持markdown格式编写)</label>
					<div >
						<textarea class="form-control" id="posttext" rows="18" name="article[text]" ><%= article.text %></textarea>
					</div>
				</div>
				<div class="blog_fr blog_mt10 form-group">
					<!-- <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button> -->
					<button class="btn btn-success" type="submit">提交</button>
				</div>
			</form>
		</div>	
	</div>
</div>
</article>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/header/bundle.js" charset="utf-8"></script>
<%- include ../common/footer %>