<%- include header %>
<article class="blog_fs16" id="article">
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 ">
			<p class="article-preview">
			  <span>作者：<a href="/author/<%= article.author._id %>"><%= article.author.name %></a> </span>
			  <span>日期：<%= moment(article.meta.updateTime).format('MM/DD/YYYY') %></span> 
			  <span>标签：</span>
			  <a class="tag-alone" href="/post/tag/<%= article.tag._id %>"><%= article.tag.name %></a>
			</p>
			<p><%- article.text %></p>
			<hr />
			<ul class="pager">
				<% if(preArticle) { %>
					<li class="previous">
						<a href="/post/<%= preArticle._id %>" data-toggle="popover" data-trigger="hover" data-placement="top"  data-content="<%= preArticle.title %>">← Previous Post</a>
					</li>
				<% } %>
				<% if(nextArticle) { %>
					<li class="next">
						<a href="/post/<%= nextArticle._id %>" data-toggle="popover" data-trigger="hover" data-placement="top"  data-content="<%= nextArticle.title %>">Next Post →</a>
					</li>
				<% } %>
			</ul>
			<%- include comment %>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div class="thumbnail">
				<div>
				<a  href="/author/<%= article.author._id %>">
	      	<% if(article.author.avator) { %>
	      	<img  src="/images/<%= article.author.avator %>" />
	      	<% } else { %>
	      	<img  src="<%= article.author.head %>" />
	      	<% } %>
	      </a>	
				</div>
	      
	      <div class="caption">
	        <h3><%= article.author.name %></h3>
	        <h5><%= article.author.signature %></h5>
	        <p>访问: <%= article.author.pv %></p>
	        <a href="/author/<%= article.author._id %>">文章(<%= len %>)</a>
	      </div>
	    </div>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 ">
			<h4 class="blog_ic">博文常用标签</h4>
				<div  class="tags_body">
					<% tags.forEach(function(tag,index) { %>
						<a href="/post/tag/<%= tag._id %>"><%= tag.name %></a>
					<% }) %>
				</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 article_sidebar">
			<h4>最热文章</h4>
			<% articles.forEach(function(article,index) { %>
				<p><a href="/post/<%= article._id %>"><%= article.title %>(<%= article.pv %>)</a></p>
			<% }) %>
		</div>
	</div>
</div>
</article>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/article.js" charset="utf-8"></script>
<%- include footer %>