<%- include header %>
<div id="back_top">
	<a href="#top"></a>
</div>
<article>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="index_content">

			<% articles.forEach(function (article, index) { %>
			<div class="post-preview">
				<a href="/post/<%= article._id %>">
					<h1 class="post-title"><%= article.title %></h1>
					<div class="post-content-preview"><%- article.text %></div>
				</a>
				<p class="post-meta">
					Posted by <a href="/author/<%= article.author._id %>"><%= article.author.name %></a>
					on <%= moment(article.meta.updateTime).format('MM/DD/YYYY') %>
					<span> <%= article.pv %>浏览</span>
				</p>
			</div>
			<hr />
			<% }) %>
		</div>
	</div>
</div>
<% if (len > (page+1)*articles.length) { %>
<button class="btn btn-default btn-lg btn-block" id="index_showmore" type="button" >加载更多...</button>
<% } %>
</article>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/index.js" charset="utf-8"></script>

<%- include footer %>
